/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ToDoBoom]    Script Date: 12/25/2017 11:07:28 PM ******/
CREATE DATABASE [ToDoBoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoBoom.Models.DbDataContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ToDoBoom.Models.DbDataContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoBoom.Models.DbDataContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ToDoBoom.Models.DbDataContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoBoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoBoom]
GO
USE [ToDoBoom]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 12/25/2017 11:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Reminders] PRIMARY KEY CLUSTERED 
(
	[ReminderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reminders] ON 

INSERT [dbo].[Reminders] ([ReminderId], [Title], [Description], [Date]) VALUES (1, N'''lkf''as;dlf'';aslf''', N'sadl;fmasd;lfkadsp;fmad;p', CAST(N'2017-12-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reminders] OFF
USE [master]
GO
